extends ../layout

block content
    h1=title
    nav 
        ul 
            li 
                a(href='/admin/news/add') Dodaj artykuł
            li
                a(href='/admin/workshop/add') Dodaj warsztat