doctype html


html
  head
    include headAdmin.pug
  body
    include ../layout/nav.pug
    block content
    include ../layout/footer.pug
    include ../layout/copyright.pug
    button.scrollToTop
      i.fas.fa-angle-double-up
      i.fas.fa-angle-double-up.second
    include ../layout/scripts.pug