nav(class='admin nav') 
    ul 
        li
            a(href='/admin') Panel administratora
        li
            a(href='/admin/news/add') +Wydarzenie
        li
            a(href='/admin/workshop/add') +Warsztat