extends ../layout

block content
  div(class='container admin')
    include ./nav.pug
    h1( class='admin')=title
    if errors!==undefined 
        each message in errors.errors 
            p=message
    form(method='post' class='admin' enctype="multipart/form-data")
        p 
            label Tytuł 
            input(type="text" name='title')
        p 
            label Data 
            input(type="date" name='created' value=now)
        p 
            label Zdjęcie 
            input(type="file" name='image')
        p 
            label Opis 
            textarea(name="description")
        p 
            input(type="submit" value='Zapisz')