extends layoutAdmin

block content
    div(class='container admin')
        include ./nav.pug
        h1( class='admin')=title
        if errors!==undefined 
            each message in errors.errors 
                p=message
        form(method='post' class='admin' enctype="multipart/form-data")
            p 
                label Tytuł 
                input(type="text" name='title')
            p 
                label Data 
                input(type="date" name='created' value=now)
            p 
                label Facebook 
                input(type="text" name='facebook' class='facebook')
            p 
                label Zdjęcie 
                img#blah(src='/images/instagram-icon.png' style='max-height:200px; margin: 20px; display:none;')
                input(type="file" name='image' id="imgInp")

            p 
                label Opis 
                textarea(name="description")
            p 
                input(type="submit" value='Zapisz')
