extends ../layout

block content
  div(class='container')
    include ./nav.pug
    h1( class='admin')=title
    if errors!==undefined 
        each message in errors.errors 
            p=message
    form(method='post' class='admin')
        p 
            label Tytuł 
            input(type="text" name='title')
        p 
            label Data 
            input(type="date" name='start' value=now)
        p 
            label Opis 
            textarea(name="description")
        p 
            input(type="submit" value='Zapisz')