extends ../layout

block content
  div(class='container')
    include ./nav.pug
    h1(class='admin')=title
    if errors!==undefined 
        each message in errors.errors 
            p=message
    form(method='post' class='admin')
        p 
            label Nazwa
            input(type="text" name='title')
        p 
            label Opis 
            textarea(name="description")
        p 
            label Start 
            input( type="datetime-local" name="start")   
        p 
            label Koniec 
            input( type="datetime-local" name="end")  
        p 
            input(type="submit" value='Zapisz')