.footer_section.layout_padding
  .container
    .row
      .col-lg-3.col-sm-6
        h3.useful_text O nas
        p.footer_text
          | Nowe wyj&aogon;tkowe miejsce w centrum Sob&oacute;tki, du&zdot;y wyb&oacute;r pysznych herbat, sklep z r&eogon;kodzie&lstrok;em i prezentami,
          | miejsce spotka&nacute; i wydarze&nacute; kulturalnych.
      .col-lg-3.col-sm-6
        h3.useful_text Menu
        .footer_menu
          ul
            li
              a(href='/') Start
            li
              a(href='/menu') Menu
            li
              a(href='/news') Aktualności
            li
              a(href='/#services') Oferta
            li
              a(href='/gallery') Galeria
            li
              a(href='/contact') Kontakt
      .col-lg-3.col-sm-6
        h1.useful_text Media spo&lstrok;eczno&sacute;ciowe
        p.dummy_text
          a.nav-link.socialmedia(target='_blank' href='https://www.facebook.com/HerbaciarniaZiolowa')
            i.fab.fa-facebook
            | Facebook
          iframe.facebook(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fherbaciarniaziolowa&tabs=timeline&width=340&height=70&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId' width='250' height='70' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowfullscreen='true' allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share')
          a.nav-link.socialmedia(target='_blank' href='https://pl.tripadvisor.com/Restaurant_Review-g1019203-d22834028-Reviews-Herbaciarnia_Ziolowa-Sobotka_Lower_Silesia_Province_Southern_Poland.html?m=19905')
            i.fab.fa-tripadvisor
            | Tripadvisor
      .col-lg-3.col-sm-6
        h1.useful_text Kontakt
        .location_text
          ul
            li
              a(href='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d314.56649089953873!2d16.744444!3d50.895373!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fcb29709508b9%3A0x6788d747a5749541!2sHerbaciarnia%20Zio%C5%82owa!5e0!3m2!1spl!2spl!4v1619019990122!5m2!1spl!2spl')
                i.fa.fa-map-marker(aria-hidden='true')
                span.padding_left_10
                  | ul. &Sacute;wi&eogon;tego Jakuba
                  | 26, 55-050 Sob&oacute;tka
            li
              a(href='tel:+48536743666')
                i.fa.fa-phone(aria-hidden='true')
                span.padding_left_10
                  | Telefon : +48 536 743
                  | 666
            li
              a(href='mailto:ziolowa.herbaciarnia@gmail.com')
                i.fa.fa-envelope(aria-hidden='true')
                span.padding_left_10
                  | Email :
                  | ziolowa.herbaciarnia@gmail.com
