.hamburger
  ul
    li.main
      i.fas.fa-bars
    li
      a(href='/')
        i.fas.fa-home
        span Start
    li
      a(href='/menu')
        i.fab.fa-envira
        span Menu
    li
      a(href='/news')
        i.far.fa-newspaper
        span Aktualno&sacute;ci
    li
      a(href='/#services')
        i.fab.fa-buffer
        span Oferta
    li
      a(href='gallery')
        i.fas.fa-camera-retro
        span Galeria
    li
      a(href='contact')
        i.far.fa-envelope
        span Kontakt
    li
      a(target='_blank' href='https://www.facebook.com/HerbaciarniaZiolowa')
        i.fab.fa-facebook
        span Facebook
    li
      a(target='_blank' href='https://pl.tripadvisor.com/Restaurant_Review-g1019203-d22834028-Reviews-Herbaciarnia_Ziolowa-Sobotka_Lower_Silesia_Province_Southern_Poland.html?m=19905')
        i.fab.fa-tripadvisor
        span Tripadvisor
.header_section
  .container-fluid
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .logo
        a(href='index.html')
          img(src='/images/logoTransparent.png')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/') Start
          li.nav-item
            a.nav-link(href='/menu') Menu
          li.nav-item
            a.nav-link(href='/news') Aktualno&sacute;ci
          li.nav-item
            a.nav-link(href='/#services') Oferta
          li.nav-item
            a.nav-link(href='/gallery') Galeria
          li.nav-item
            a.nav-link(href='/contact') Kontakt
          li.nav-item.socialmedia
            a.nav-link.socialmedia(target='_blank' href='https://www.facebook.com/HerbaciarniaZiolowa')
              i.fab.fa-facebook
          li.nav-item.socialmedia
            a.nav-link.socialmedia(target='_blank' href='https://pl.tripadvisor.com/Restaurant_Review-g1019203-d22834028-Reviews-Herbaciarnia_Ziolowa-Sobotka_Lower_Silesia_Province_Southern_Poland.html?m=19905')
              i.fab.fa-tripadvisor
        
