button.scrollToTop
  i.fas.fa-angle-double-up
    i.fas.fa-angle-double-up.second
script(src='/js/jquery.min.js')
script(src='/js/popper.min.js')
script(src='/js/bootstrap.bundle.min.js')
script(src='/js/jquery-3.0.0.min.js')
script(src='/js/plugin.js')
script(src='/js/jquery.mCustomScrollbar.concat.min.js')
script(src='/js/custom.js')
script(src='/js/script.js')
script(src='/lightbox2/dist/js/lightbox-plus-jquery.js')