
script(src='/js/jquery-3.6.0.min.js')
script(src='/js/popper.min.js')
script(src='/js/bootstrap.bundle.min.js')
script(src='/js/plugin.js')
script(src='/js/jquery.mCustomScrollbar.concat.min.js')
script(src='/js/custom.js')
script(src='/js/script.js')
script(src='/lightbox2/dist/js/lightbox.js')
script(src='/js/imagepreview.js')