extends layout

block content
    .address
      h1.contact_text Skontaktuj się z nami!
      ul
        li
          p ul. &Sacute;wi&eogon;tego Jakuba 26, 55-050 Sob&oacute;tka
        li
          p Telefon : +48 536 743 666
        li
          p
            | Email :
            | ziolowa.herbaciarnia@gmail.com
    .open_hours
      h1.contact_text Godziny otwarcia 
      ul
        li
          p poniedzia&lstrok;ek Zamkni&eogon;te
        li
          p wtorek 14:00&ndash;19:00
        li
          p &sacute;roda 14:00&ndash;19:00
        li
          p czwartek 14:00&ndash;19:00
        li
          p pi&aogon;tek 14:00&ndash;19:00
        li
          p sobota 12:00&ndash;19:00
        li
          p niedziela 12:00&ndash;19:00