extends layout 
block content
    .gallery
        h1.gallery_taital Galeria
        a(href='./images/DSC.JPEG' data-lightbox='image-1' data-title='Herbaciarnia Ziołowa - Sobótka' alt='')
            img(src='./images/DSC.JPEG')
        a(href='./images/DSC_0166.jpg' data-lightbox='image-1' data-title='Herbaciarnia Ziołowa - Sobótka' alt='')
            img(src='./images/DSC_0166.jpg')
        a(href='./images/DSC_0240.jpg' data-lightbox='image-1' data-title='Herbaciarnia Ziołowa - Sobótka' alt='')
            img(src='./images/DSC_0240.jpg')
        a(href='./images/DSC_0101.jpg' data-lightbox='image-1' data-title='Herbaciarnia Ziołowa - Sobótka' alt='')
            img(src='./images/DSC_0101.jpg')
        a(href='./images/DSC_0465.jpg' data-lightbox='image-1' data-title='Herbaciarnia Ziołowa - Sobótka' alt='')
            img(src='./images/DSC_0465.jpg')
        a(href='./images/DSC_0128.jpg' data-lightbox='image-1' data-title='Herbaciarnia Ziołowa - Sobótka' alt='')
            img(src='./images/DSC_0128.jpg')
        a(href='./images/DSC_0509.jpg' data-lightbox='image-1' data-title='Herbaciarnia Ziołowa - Sobótka' alt='')
            img(src='./images/DSC_0509.jpg')
        a(href='./images/DSC_0394.JPEG' data-lightbox='image-1' data-title='Herbaciarnia Ziołowa - Sobótka' alt='')
            img(src='./images/DSC_0394.JPEG')
        a(href='./images/DSC_0511.jpg' data-lightbox='image-1' data-title='Herbaciarnia Ziołowa - Sobótka' alt='')
            img(src='./images/DSC_0511.jpg')
        a(href='./images/DSC_0144.jpg' data-lightbox='image-1' data-title='Herbaciarnia Ziołowa - Sobótka' alt='')
            img(src='./images/DSC_0144.jpg')
        a(href='./images/DSC_0153-3.jpg' data-lightbox='image-1' data-title='Herbaciarnia Ziołowa - Sobótka' alt='')
            img(src='./images/DSC_0153-3.jpg')
