extends layout

block content
  include components/index/banner.pug
  include components/index/about.pug
  include components/index/gallery.pug
  include components/index/services.pug
  include components/index/opinion.pug
  include components/index/contact.pug

