extends layout

block content
  include includes/index/banner.pug
  include includes/index/about.pug
  include includes/index/gallery.pug
  include includes/index/services.pug
  include includes/index/opinion.pug
  include includes/index/contact.pug
  
