doctype html


html
  head
    include components/head.pug
    if path == '/admin'
      style
        include ../public/css/admin.css
    if path == '/login'
      style
        include ../public/css/adminLogin.css
  body
    include components/nav.pug
    block content
    include components/footer.pug
    include components/copyright.pug
    button.scrollToTop
      i.fas.fa-angle-double-up
      i.fas.fa-angle-double-up.second
    include components/scripts.pug