extends layout

block content
    h1= title
    form(method='post')
        p
            input(type='text' name='login' placeholder='Login') 
        p
            input(type='password' name='password' placeholder='Hasło') 
        p 
            input(type='submit' value='Zaloguj')