.about_section.layout_padding
  .container
    .row
      .col-md-6
        .about_taital_main
          .about_taital O nas
          p.about_text
            | Herbaciarnia Ziołowa to miejsce które powstało ze zderzenia dwóch kreatywnych głów, artystek i przyjaciółek, które wspólnie  realizują projekty artystyczne przy filiżance aromatycznych naparów.   
            |Chcemy dzielić się naszą pasją i tworzyć wspólnie z Wami miejsce z duszą, pełne ciepła i pozytywnej energii!
            br
            br
            |W Ziołowej raczymy Was herbatą, kawą, słodkościami, zapraszamy na wystawy artystyczne, wernisaże, warsztaty rękodzielnicze i kameralne koncerty!
            br
            br
            strong  Znajdujemy się u podnóża góry Ślęży w Sobótce tuż obok rynku, przy ulicy Św. Jakuba 26. Jeśli wybierasz się na spacer lub wycieczkę na Ślężę, to zajrzyj do nas czeka na Ciebie pyszna herbata i kawą, miła rozmowa i przekąski na drogę!
      .col-md-6
        .about_img
          img(src='images/aboutUs.jpg')
