.contact_section.layout_padding(class=path!=='/contact'?'index':'')
  .container.contact_section
    .contact_text.address
      h1.contact_text Skontaktuj się z nami!
      ul
        li
          a(href='https://g.page/HerbaciarniaZiolowa?share' target='_blank')
            |ul. Świętego Jakuba 26, 55-050 Sob&oacute;tka
        li
          a(href='tel:+48536743666') Telefon : +48 536 743 666
        li
          a(href='mailto:ziolowa.herbaciarnia@gmail.com')
            | Email :
            | ziolowa.herbaciarnia@gmail.com
    .contact_text.open_hours
      h1.contact_text Godziny otwarcia 
      ul
        li
          p poniedziałek
          p zamknięte
        li
          p wtorek
          p 14:00 - 19:00
        li
          p środa 
          p 14:00 - 19:00
        li
          p czwartek
          p 14:00 - 19:00
        li
          p piątek 
          p 14:00 - 19:00
        li
          p sobota 
          p 12:00 - 19:00
        li
          p niedziela 
          p 12:00 - 19:00
.contact_section_2.layout_padding(class=path!=='/contact'?'index':'')
  .container-fluid
    .row
      .col-md-6.padding_0
        .mail_section
          .email_text
            form(method='post' action='/send')
              h1.contact_text
                | Masz pytanie?
              input(type='text' placeholder='Imię' name='name')
              input(type='text' placeholder='E-mail' name='email')
              input(type='tel' placeholder='Telefon' name='phone')
              textarea(placeholder='Wiadomość' name='message')
              button(onclick='submit') Wy&sacute;lij
      .col-md-6.padding_0
        .map-responsive
          iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d314.56649089953873!2d16.744444!3d50.895373!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6788d747a5749541!2sHerbaciarnia%20Zio%C5%82owa!5e0!3m2!1spl!2spl!4v1620721925301!5m2!1spl!2spl' width='600' height='508' frameborder='0' style='border: 0; width: 100%' allowfullscreen='')

