.about_section.layout_padding
  .container
    .row
      .col-md-6
        .about_taital_main
          .about_taital O nas
          p.about_text
            | Stworzy&lstrok;y&sacute;my Hebraciarnie Zio&lstrok;ow&aogon;, by m&oacute;c zara&zdot;a&cacute; Was nasz&aogon; pasj&aogon; do herbaty i sztuki.
            | To miejsce powsta&lstrok;o ze zderzenia dw&oacute;ch kreatywnych g&lstrok;&oacute;w, artystek i przyjaci&oacute;&lstrok;ek,
            | kt&oacute;re wsp&oacute;lnie realizuj&aogon; projekty artystyczne przy fili&zdot;ance aromatycznych napar&oacute;w.
            | Jeste&sacute;my pierwsz&aogon; i jedyn&aogon; Herbaciarni&aogon; w Sob&oacute;tce. Niezale&zdot;nym miejscem gdzie robimy dla Was
            | herbat&eogon;, a tak&zdot;e realizujemy wystawy artystyczne, warsztaty r&eogon;kodzielnicze i zaj&eogon;cia dla doros&lstrok;ych oraz
            | dzieci. Chcemy dzieli&cacute; si&eogon; nasz&aogon; pasj&aogon; i tworzy&cacute; wsp&oacute;lnie z Wami miejsce z dusz&aogon;, pe&lstrok;ne ciep&lstrok;a i
            | pozytywnejenergii.
          p.about_text
            | Znajdujemy si&eogon; u podn&oacute;&zdot;a g&oacute;ry &Sacute;l&eogon;&zdot;y w Sob&oacute;tce tu&zdot; obok
            | rynku, przy ulicy &Sacute;w. Jakuba 26.
            | Je&sacute;li wybierasz si&eogon; na spacer lub wycieczk&eogon; na &Sacute;l&eogon;&zdot;&eogon;, to zajrzyj do nas uraczymy Ci&eogon; pyszn&aogon; herbata i
            | kaw&aogon;, mi&lstrok;&aogon;
            | rozmow&aogon; i przek&aogon;skami na drog&eogon;!
      .col-md-6
        .about_img
          img(src='images/DSC_0101.jpg')
