.gallery_section.layout_padding
  .container.passion
    .row
      .col-sm-12.passion
        h1.gallery_taital.huge
          | Herbata to nasza pasja! 
          i.fas.fa-leaf
        // <p class="gallery_text">Oto kilka zdjęć z naszej herbaciarni.</p>
    div
      .gallery_section_2
        .row.gallery
          .col-md-4
            .container_main
              img.image(src='images/DSC_0128.jpg' alt='Avatar')
          .col-md-4
            .container_main
              img.image(src='images/DSC_0166.jpg' alt='Avatar')
              //
                <div class="overlay">
                <div class="text">
                <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
                </div>
          .col-md-4
            .container_main
              img.image(src='images/DSC_0507.jpg' alt='Avatar')
              //
                <div class="overlay">
                <div class="text">
                <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
                </div>
