#services.services_section.layout_padding
  .container
    .row
      .col-sm-12
        h1.services_taital Nasza oferta
        p.services_text
    .services_section_2
      .row
        .col-lg-4.col-sm-12.col-md-4
          .box_main.active
            .house_icon
              i.fas.fa-mug-hot
            h3.decorate_text
              | Herbaciane napary
              br
              | Kawa
            p.tation_text
              | W naszym lokalu czeka na Ciebie nie tylko szeroki wyb&oacute;r pysznych herbat, ale tak&zdot;e aromatycznych kaw i
              | s&lstrok;odko&sacute;ci.
            .readmore_bt
              a(href='/menu') Menu
        .col-lg-4.col-sm-12.col-md-4
          .box_main
            .house_icon
              i.fas.fa-paint-brush
            h3.decorate_text Warsztaty i wydarzenia artystyczne
            p.tation_text
              | Prowadzimy warsztaty dla dzieci i doros&lstrok;ych. Organizujemy m.in. wystawy, wernisa&zdot;e, kameralne
              | koncerty. Wi&eogon;cej informacji znajdziesz na naszym Facebooku.
            .readmore_bt
              a(href='/news') Aktualno&sacute;ci
        .col-lg-4.col-sm-12.col-md-4
          .box_main
            .house_icon
              i.fas.fa-gift
            h3.decorate_text Sklep z r&eogon;kodzie&lstrok;em
            p.tation_text
              | Pod naszym adresem znajdziesz szereg wspania&lstrok;ych pomys&lstrok;&oacute;w na prezent w postaci r&eogon;kodzie&lstrok;a, zestaw&oacute;w
              | herbat i porcelany.
            .readmore_bt
              a(href='/gallery') Galeria
