.client_section.layout_padding
  .container
    .row
      .col-sm-12
        h1.client_taital Opinie o nas
        p.client_text
  #carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
        i.fab.fa-envira
      li(data-target='#carouselExampleIndicators' data-slide-to='1')
        i.fab.fa-envira
      li(data-target='#carouselExampleIndicators' data-slide-to='2')
        i.fab.fa-envira
      li(data-target='#carouselExampleIndicators' data-slide-to='3')
        i.fab.fa-envira
    .carousel-inner
      .carousel-item.active
        .client_section_2
          .container
            .row
              .col-md-12
                .testimonial_section_2
                  h4.client_name_text
                    | Grzegorz
                    span.quick_icon
                      img(src='images/quick-icon.png')
                  p.customer_text
                    | &Sacute;wietna inicjatywa odwa&zdot;nych kobiet. Mi&lstrok;a atmosfera,
                    | dobre wyroby smaczna herbatka zimowa :-) :-) :-)
      .carousel-item
        .client_section_2
          .container
            .row
              .col-md-12
                .testimonial_section_2
                  h4.client_name_text
                    | Aleksandra
                    span.quick_icon
                      img(src='images/quick-icon.png')
                  p.customer_text
                    | Przytulna herbaciarnia z sympatyczn&aogon; obs&lstrok;ug&aogon;, du&zdot;y wyb&oacute;r
                    | herbat (czarnych, zielonych, owocowych...) na miejscu i
                    | na wynos. Idealny lokal na zwie&nacute;czenie wycieczki po
                    | okolicy :)
      .carousel-item
        .client_section_2
          .container
            .row
              .col-md-12
                .testimonial_section_2
                  h4.client_name_text
                    | Damian
                    span.quick_icon
                      img(src='images/quick-icon.png')
                  p.customer_text
                    | Pyszna herbatka, bardzo mi&lstrok;e panie!
      .carousel-item
        .client_section_2
          .container
            .row
              .col-md-12
                .testimonial_section_2
                  h4.client_name_text
                    | Grzegorz
                    span.quick_icon
                      img(src='images/quick-icon.png')
                  p.customer_text
                    | Bardzo miła obsługa, wybór herbat, lokalnych soków i rękodzieła. Miejsce się dopiero rozwija, w przyszłości mają być dostępne m.inn. planszówki.

